/*******************
** EXT-Website css *
** @BuGsounet      *
******************/


#WEBSITE_SYSINFO {
  width: 100%;
  height: 100%;
  text-shadow: black 5px 5px 5px;
  font-size: 20px;
  color: #EEE;
  font-weight: normal;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  background: #212121;
}

#WEBSITE_SYSINFO.hidden {
  display: none;
}

#WEBSITE-CONTENT_WRAPPER {
  width: 100%;
  overflow-x: hidden;
  flex-direction: column !important;
  padding: 0.5rem;
}

#WEBSITE-GPU_CONTAINER,
#WEBSITE-HOSTNAME_CONTAINER {
  font-size: x-large;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: center;
}

#WEBSITE-GPU_VALUE.red {
  color: #db3236;
}

#WEBSITE-GPU_VALUE.green {
  color: #3cba54;
}

#WEBSITE-SYSINFO_CONTAINER {
  text-align: center !important;
  width: 100%;
}

#WEBSITE-SYSINFO_NETWORK,
#WEBSITE-SYSINFO_UPTIMES,
#WEBSITE-SYSINFO_MEMORY,
#WEBSITE-SYSINFO_VERSION,
#WEBSITE-SYSINFO_CPU {
  width: 25%;
  position: relative;
  color: #ffffff;
  flex: 0 0 auto;
  padding: 30px;
}

#WEBSITE-SYSINFO_STORAGE {
  width: 75%;
  position: relative;
  color: #ffffff;
  flex: 0 0 auto;
  padding: 30px;
}

#WEBSITE-SYSINFO_CONTAINER_ROW {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#WEBSITE-SYSINFO_NETWORK_HEADING,
#WEBSITE-SYSINFO_STORAGE_HEADING,
#WEBSITE-SYSINFO_UPTIMES_HEADING,
#WEBSITE-SYSINFO_MEMORY_HEADING,
#WEBSITE-SYSINFO_VERSION_HEADING,
#WEBSITE-SYSINFO_CPU_HEADING {
  margin-left: 0px;
  background: #5c5c5c none repeat scroll 0 0;
  color: #ffffff;
  border-radius: 2px 2px 0 0;
  padding: 15px 0;
  position: relative;
  display: block;
}

#WEBSITE-SYSINFO_STORAGE_LIST,
#WEBSITE-SYSINFO_NETWORK_LIST,
#WEBSITE-SYSINFO_UPTIMES_LIST,
#WEBSITE-SYSINFO_MEMORY_LIST,
#WEBSITE-SYSINFO_CPU_LIST,
#WEBSITE-SYSINFO_VERSION_LIST {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #666666;
  background: #191919;
  font-size: 18px;
}

#WEBSITE-SYSINFO_NETWORK-SIGNAL,
#WEBSITE-SYSINFO_NETWORK-QUALITY,
#WEBSITE-SYSINFO_NETWORK-FREQUENCY,
#WEBSITE-SYSINFO_NETWORK-RATE,
#WEBSITE-SYSINFO_NETWORK-SSID,
#WEBSITE-SYSINFO_NETWORK-DUPLEX,
#WEBSITE-SYSINFO_NETWORK-SPEED,
#WEBSITE-SYSINFO_NETWORK-INTERFACE,
#WEBSITE-SYSINFO_NETWORK-IP,
#WEBSITE-SYSINFO_VERSION-ELECTRON,
#WEBSITE-SYSINFO_VERSION-MMNODE,
#WEBSITE-SYSINFO_VERSION-NODE,
#WEBSITE-SYSINFO_VERSION-NPM,
#WEBSITE-SYSINFO_VERSION-OS,
#WEBSITE-SYSINFO_VERSION-KERNEL,
#WEBSITE-SYSINFO_VERSION-GA,
#WEBSITE-SYSINFO_VERSION-MM {
  display: inline-flex;
}

#WEBSITE-SYSINFO_NETWORK_INFORMATION.hidden,
#WEBSITE-SYSINFO_NETWORK-SIGNAL-VALUE.hidden,
#WEBSITE-SYSINFO_NETWORK-QUALITY-VALUE.hidden,
#WEBSITE-SYSINFO_NETWORK-FREQUENCY-VALUE.hidden,
#WEBSITE-SYSINFO_NETWORK-RATE-VALUE.hidden,
#WEBSITE-SYSINFO_NETWORK-SSID-VALUE.hidden,
#WEBSITE-SYSINFO_NETWORK-DUPLEX-VALUE.hidden,
#WEBSITE-SYSINFO_NETWORK-SPEED-VALUE.hidden,
#WEBSITE-SYSINFO_NETWORK-SIGNAL.hidden,
#WEBSITE-SYSINFO_NETWORK-QUALITY.hidden,
#WEBSITE-SYSINFO_NETWORK-FREQUENCY.hidden,
#WEBSITE-SYSINFO_NETWORK-RATE.hidden,
#WEBSITE-SYSINFO_NETWORK-SSID.hidden,
#WEBSITE-SYSINFO_NETWORK-DUPLEX.hidden,
#WEBSITE-SYSINFO_NETWORK-SPEED.hidden {
  display: none;
}

#WEBSITE-SYSINFO_NETWORK-SIGNAL-VALUE,
#WEBSITE-SYSINFO_NETWORK-RATE-VALUE,
#WEBSITE-SYSINFO_NETWORK-FREQUENCY-VALUE,
#WEBSITE-SYSINFO_NETWORK-QUALITY-VALUE,
#WEBSITE-SYSINFO_NETWORK-SSID-VALUE,
#WEBSITE-SYSINFO_NETWORK-DUPLEX-VALUE,
#WEBSITE-SYSINFO_NETWORK-SPEED-VALUE,
#WEBSITE-SYSINFO_NETWORK-INTERFACE-VALUE,
#WEBSITE-SYSINFO_NETWORK-IP-VALUE,
#WEBSITE-SYSINFO_VERSION-ELECTRON-VALUE,
#WEBSITE-SYSINFO_VERSION-MMNODE-VALUE,
#WEBSITE-SYSINFO_VERSION-NODE-VALUE,
#WEBSITE-SYSINFO_VERSION-NPM-VALUE,
#WEBSITE-SYSINFO_VERSION-OS-VALUE,
#WEBSITE-SYSINFO_VERSION-KERNEL-VALUE,
#WEBSITE-SYSINFO_VERSION-GA-VALUE,
#WEBSITE-SYSINFO_VERSION-MM-VALUE {
  margin-left: 5px;
}

#WEBSITE-SYSINFO_CPU-TYPE,
#WEBSITE-SYSINFO_CPU-SPEED,
#WEBSITE-SYSINFO_CPU-USAGE,
#WEBSITE-SYSINFO_CPU-GOVERNOR,
#WEBSITE-SYSINFO_CPU-TEMP {
  display: inline-flex;
}

#WEBSITE-SYSINFO_CPU-TYPE-VALUE,
#WEBSITE-SYSINFO_CPU-SPEED-VALUE,
#WEBSITE-SYSINFO_CPU-GOVERNOR-VALUE {
  margin-left: 5px;
}

#WEBSITE-SYSINFO_MEMORY-SWAP,
#WEBSITE-SYSINFO_MEMORY-ACTIVE {
  display: inline-flex;
}

#WEBSITE-SYSINFO_MEMORY-SWAP-VALUE-TOTAL,
#WEBSITE-SYSINFO_MEMORY-ACTIVE-VALUE-TOTAL {
  margin-left: 5px;
}

#WEBSITE-SYSINFO_STORAGE-PROGRESS,
#WEBSITE-SYSINFO_MEMORY-SWAP-PROGRESS,
#WEBSITE-SYSINFO_MEMORY-ACTIVE-PROGRESS,
#WEBSITE-SYSINFO_CPU-TEMP-PROGRESS,
#WEBSITE-SYSINFO_CPU-USAGE-PROGRESS {
  text-align: center;
  margin-left: 5px;
  width: -webkit-fill-available;
}

#WEBSITE-SYSINFO_STORAGE-PROGRESSBAR,
#WEBSITE-SYSINFO_MEMORY-SWAP-PROGRESSBAR,
#WEBSITE-SYSINFO_MEMORY-ACTIVE-PROGRESSBAR,
#WEBSITE-SYSINFO_CPU-TEMP-PROGRESSBAR,
#WEBSITE-SYSINFO_CPU-USAGE-PROGRESSBAR {
  font-size: 12px;
  color: black;
}

#WEBSITE-SYSINFO_UPTIMES_RECORD,
#WEBSITE-SYSINFO_UPTIMES_CURRENT {
  color: #4885ed;
}

#WEBSITE-SYSINFO_UPTIMES_RECORD_SYSTEM,
#WEBSITE-SYSINFO_UPTIMES_RECORD_MM,
#WEBSITE-SYSINFO_UPTIMES_CURRENT_MM,
#WEBSITE-SYSINFO_UPTIMES_CURRENT_SYSTEM {
    display: inline-flex;
    margin-left: 10px;
}

#WEBSITE-SYSINFO_UPTIMES_RECORD_SYSTEM_VALUE,
#WEBSITE-SYSINFO_UPTIMES_RECORD_MM_VALUE,
#WEBSITE-SYSINFO_UPTIMES_CURRENT_MM_VALUE,
#WEBSITE-SYSINFO_UPTIMES_CURRENT_SYSTEM_VALUE {
  margin-left: 5px;
}

#WEBSITE-SYSINFO_NETWORK_INFORMATION {
    color: #4885ed;
    text-align: center;
}

#WEBSITE-SYSINFO_STORAGE_TABLE {
  text-align: center;
}

#WEBSITE-SYSINFO_STORAGE_TABLE_HEADER {
    font-size: 18px;
    background: #3a3b45;
    color: #ffffff;
}


#WEBSITE-SYSINFO_STORAGE_TABLE_MOUNT,
#WEBSITE-SYSINFO_STORAGE_TABLE_TOTAL,
#WEBSITE-SYSINFO_STORAGE_TABLE_USED {
  width: 100px;
}

#WEBSITE-SYSINFO_NETWORK_BAR {
  display: flex;
  position: absolute;
  margin-left: 10px;
}

#WEBSITE-SYSINFO_NETWORK_BAR.hidden {
  display: none;
}

/** progress **/
.SysInfo-progress {
    padding: 1px;
    background: #212121;
    border-radius: 6px;
    align-self: center;
}

.SysInfo-progress-bar {
    height: 16px;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 1s linear;
    transition-property: width, background-color;
    text-shadow: none;
}

/** wireless **/
:root {
  --SysInfo-wireless-icon-width: auto;
  --SysInfo-wireless-icon-height: 20px;
  --SysInfo-wireless-icon-padding: 4px;
  --SysInfo-wireless-bar-width: 5px;
  --SysInfo-wireless-bar-spacing: 2px;
  --SysInfo-wireless-bar-radius: 2px;
  --SysInfo-wireless-bar-color: #00cc00;
  --SysInfo-wireless-bar-start-opacity: 0.2;
}

.SysInfo-icon__signal-strength {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: var(--SysInfo-wireless-icon-width);
  height: var(--SysInfo-wireless-icon-height);
  padding: var(--SysInfo-wireless-icon-padding);
}

.SysInfo-icon__signal-strength span {
  display: inline-block;
  width: var(--SysInfo-wireless-bar-width);
  margin-left: var(--SysInfo-wireless-bar-spacing);
  transform-origin: 100% 100%;
  background-color: var(--SysInfo-wireless-bar-color);
  border-radius: var(--SysInfo-wireless-bar-radius);
}

.SysInfo-icon__signal-strength .SYSINFO_BAR-1 {
  height: 25%;
}

.SysInfo-icon__signal-strength .SYSINFO_BAR-2 {
  height: 50%;
}

.SysInfo-icon__signal-strength .SYSINFO_BAR-3 {
  height: 75%;
}

.SysInfo-icon__signal-strength .SYSINFO_BAR-4 {
  height: 100%;
}

.SysInfo-signal-0 .SYSINFO_BAR-1, .SysInfo-signal-0 .SYSINFO_BAR-2, .SysInfo-signal-0 .SYSINFO_BAR-3, .SysInfo-signal-0 .SYSINFO_BAR-4 {
  opacity: var(--SysInfo-wireless-bar-start-opacity);
}

.SysInfo-signal-1 .SYSINFO_BAR-2, .SysInfo-signal-1 .SYSINFO_BAR-3, .SysInfo-signal-1 .SYSINFO_BAR-4 {
  opacity: var(--SysInfo-wireless-bar-start-opacity);
}

.SysInfo-signal-2 .SYSINFO_BAR-3, .SysInfo-signal-2 .SYSINFO_BAR-4 {
  opacity: var(--SysInfo-wireless-bar-start-opacity);
}

.SysInfo-signal-3 .SYSINFO_BAR-4 {
  opacity: var(--SysInfo-wireless-bar-start-opacity);
}

